body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.present-customgreen {
  --bg-opacity: 1;
  background-color: #7f7b81;
  background-color: rgba(50,160,110,var(--bg-opacity));
}

.future-blue {
  --bg-opacity: 1;
  background-color: #133747;
  background-color: rgba(60, 141, 154,var(--bg-opacity));
}
.past-grey {
  --bg-opacity: 1;
  background-color: #bcbcbc;
  background-color: rgba(191, 191, 191,var(--bg-opacity));
  }

.form-control{
    border-block-start-color: rgb(122, 100, 100);
  }
